<p id="notice"><%= notice %></p>

<h1>Books</h1>

<div class="hidden">
<%= form_with id: 'row-order-form', method: :patch, url: row_order_books_path do |form| %>
  <%= form.text_field :row_order %>
<% end %>
</div>

<% controller = "drag-item" %>
<% action = 'ajax:error@document->drag-item#onPostError' %>
<%= tag.ul data: { controller: controller, action: action } do %>
  <% @books.each do |book| %>
    <%= tag.li data: { id: book.id } do %>
      <%= book.title %>
    <% end %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Row order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.row_order %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
